{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<main role="main" class="inner cover my-auto text-center">
  <p class="lead">
    List of the best of the best eat
  </p>
  <p class="lead mt-5">
    <a href="{{ url_for('fruits.fruits') }}" class="btn btn-lg btn-primary"
      >FRUITS</a
    >
    <a href="{{ url_for('vegetables.vegetables')}}" class="btn btn-lg btn-primary"
      >VEGETABLE</a
    >
  </p>
</main>
<footer class="mastfoot mt-auto text-center">
  <div class="inner">
    <p>{{ response }}</p>
  </div>
</footer>
{% endblock %}
